MM_DB_USERNAME=
MM_DB_PASSWORD=
MM_DB_HOST=127.0.0.1
MM_DB_NAME=machine_monitoring

MM_MQTT_BROKER=127.0.0.1
MM_MQTT_PORT=1883

MM_DASH_HOST=0.0.0.0
MM_DASH_PORT=8888
MM_DASH_DEBUG=false
MM_GUNICORN_WORKERS=1
